body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 20px; 
    background-color: #1A1A1A; 
    color: #BDBDBD;
}

/* textarea {  */
/*     width: 100%;  */
/*     height: 200px;  */
/*     background-color: #282c34;  */
/*     color: #abb2bf; */
/*     border: none; */
/* } */

#preview { 
    padding: 20px; 
    /* background-color: #1A1A1A;  */
    /* color: #abb2bf; */
    border: none !important;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

#preview p {
    text-indent: -1em;
    padding-left: 1em;
    line-height: 1.5;
}

#preview li {
    line-height: 1;
}

/* Syntax highlighting */
#preview h1 {
    /* color: #91ADC2; */
    color: #8FB798;
}

#preview h2 {
  color: #858BAD;
}

#preview h3 {
  color: #779292;
}

#preview code {
    color: #98c379;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1.5;
}

#preview a {
    color: #BB8BA1;
}
